@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
html {
    background-color: rgb(165, 204, 204);
    height: 100vh;
    width: 100vw;
    font-family: "Montserrat", sans-serif;
}

#dziennik {
    position: absolute;
    display: flex;
    flex-direction: column;
    left: 20vw;
    top: 13vh;
}

table {
    width: 60vw;
    border-collapse: collapse;
}

#thprzedmiot, #thocena, #thsrednia {
    font-size: 14pt;
}

th, td {
    height: 3.25vh;
    width: 180px;
    text-align: center;
    border: 1px solid black;
}

td:nth-child(3) {
  width: 50px;
}

th#thsrednia {
    width: 50px;
}

#profil {
    display: flex;
}

img {
    width: 150px;
    height: 150px;
}

#zdjecie {
    width: 150px;
    height: 150px;
    margin-bottom: 1.5vh;
    margin-right: 0.5vw;
}

#dane {
    margin-top: 2vh;
    margin-left: 1vw;
    font-size: 1.5em;
    line-height: 1.65em;
}

#wyloguj {
    display: flex;
    width: 80px;
    height: 25px;
    margin-top: 13vh;
    background-color: white;
    justify-content: center;
    align-items: center;
    font-size: 1em;
    font-weight: bold;
}

#wyloguj:hover {
    box-shadow: 0px 0px 10px 2px rgb(190, 190, 190);
    cursor: pointer;
    transform: scale(1.05);
}