//tu pisze style do tablicy jak cos
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@mixin fontdotablicy {
  font-size: 1.8rem;
  font-family: "Montserrat", sans-serif;
}
table {
  border: solid blue 3px;
  border-spacing: 0px;
  font-family: "Montserrat", sans-serif;
}
tr {
  border: solid black 3px;
}

td {
  width: 15vw;
  height: 10vh;
  border: solid blue 3px;
}
th {
  width: 14vw;
  height: 10vh;
  border-left: solid orange 6px;
}
#ui {
  display: flex;
  flex-direction: row;
}
#dziennik {
  border: 3px solid yellow;
  display: flex;
  width: 77vw;
}
#thnumer {
  @include fontdotablicy();
  width: 3vw;
}
#thimie {
  @include fontdotablicy();
}
#thnazwisko {
  @include fontdotablicy();
}
#thocena {
  @include fontdotablicy();
  width: 5vw;
}

#account {
  border: 3px solid red;
  width: 97vw;
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#navi {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  width: 30vw;
}
#nav {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 3px solid blue;
  border-radius: 5%;
  border-bottom: 3px solid blue;
  padding-left: 0;
  width: 20vw;
}
#hdr {
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
}
a {
  text-decoration: none;
  color: black;
}
ul {
  list-style-type: none;
  list-style-position: inside;
}
li {
  font-family: "Montserrat", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 3px solid orange;
  width: 20vw;
  height: 6vh;
  font-size: 1.7rem;
  :hover {
    border: black;
    color: green;
  }
}
#login {
  @include fontdotablicy();
}
#display {
  @include fontdotablicy();
}
#s1 {
  border-top: 3px solid orange;
}
#s2 {
  border-bottom: 0px;
}
body {
  background-color: whitesmoke;
}
#span1 {
  color: orange;
}
#span2 {
  color: blue;
}
