@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
#formularz {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: lightgray;
  font-family: 'Montserrat', sans-serif;
}
#tytul {
  color: blue;
}
#main {
  margin-top: 20vh;
  width: 40vw;
  border: 3px solid blue;
  border-radius: 5px;
  top: 40%;
  left: 40%;
 
}
input {
  border: 3px solid blue;
  border-radius: 3px;
  height: 2vh;
  width: 10vw;
}
#haslo {
  margin-bottom: 5vh;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
}
